nav 
{
    border-bottom: 1px solid black;
}

.nave ul {
    list-style-type: none;
    padding-left: 0;
}

.nave 
{
    display: inline-block;
}

.nave a::after 
{
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}