*
{
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0.1px solid black;
    font-size: small;
}

nav 
{
    border-bottom: 1px solid black;
}

.nave ul {
    list-style-type: none;
    padding-left: 0;
}

.nave 
{
    display: inline-block;
}

.nave a::after 
{
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}


#bodi
{
    margin: 0px;
    padding: 0px;
}

.div1
{
    display: flex;
    flex-direction: row;
    background-color: rgb(40, 96, 113);
    color: aliceblue;
    height: 60px;
}

#head
{
    display: flex;
    padding: 0px;
    margin: 0px;
}

#page-title-div
{
    height: 50px;
    padding-top: 5px;
    padding-left: 70px;
    justify-content: left;
    flex: 0.73;
    margin: 0px 100px 0px 80px;
}

.nav-text
{
    font-size: 13px;
    padding-top: 5px;
    padding-right: 11px;
}

#navegation-div
{


    margin: 0px 0px 0px 300px;
    padding-top: 1px;
    height: 50px;
    font-weight: lighter;

}

.div2
{
    display: flex;
    flex-direction: column;
    background-color: rgb(190, 125, 14);
    padding: 20px;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}

#info-div
{
    height: 175px;
    justify-content: center;
}

#info-title-div
{
    justify-content: center;
    margin: 10px;
    padding: 0px 5px;
    text-align: center;
    font-size: larger;
}

#info-title-h
{
    padding: 0px 5px;
    font-size: 33px;
}

#info-body-div
{
    margin: 0px;
    padding: 0px 5px;
}

#p-info-text
{
    text-align: justify;
    padding: 0px 200px;
}

.div3
{
    display: flex;
    flex-direction: row;
    background-color: rgb(40, 96, 113);
    color: aliceblue;
    justify-content: center;
}

#form-info-div
{
    margin-left: 200px;
    height: 35px;
    text-align: center;
    /* padding-left: 200px; */
    /* padding-bottom: 10px; */
    padding: 5px 100px 15px 10px;
}

#p-sub-text
{
    /* padding-top: 10px; */
    margin: 10px;
    padding: 10px;
}

#b-sub-text
{
    font-size: 12.5px;
    margin: 10px;
    padding: 10px;
    /* padding-top: 10px; */
}

#email-form
{
    /* flex: 1; */
    padding-left: 100px;
    padding-right: 400px;
    padding-top: 14px;
}

#email-form-input
{
    font-size: 12.5px;
}

#sub-button
{
    background-color: rgb(217, 153, 3);
}

#p-sub-button
{
    background-color: rgb(217, 153, 3);
    color: aliceblue;
    font-size: 1px;
    margin: 0px;
    padding: 0px;
}

.div4
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#images-div
{
    padding: 5px;
}

#html-div
{
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    padding: 10px;
}

#html-img
{
    padding-left: 40px;
    flex: 0.8;
}

#css-div
{
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    padding: 10px;
    /* flex: 0; */
}

#css-img
{
    padding-left: 40px;
    flex: 0.8;
}

#js-div
{
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    /* flex: 0; */
}

#js-img
{
    padding-left: 40px;
    flex: 0.8;
}

.div5
{
    background-color: rgb(40, 96, 113);
    color: aliceblue;
    text-align: center;
    margin: 0px;
    padding: 10px;
    /* height: 50px; */
}

#ftext-div
{

}

#footer-text
{
    font-size: 10px;
}