*
{
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0.1px solid black;
    font-size: small;
}

#bodi
{
    margin: 0px;
    padding: 0px;
}

.div1
{
    display: flex;
    flex-direction: row;
    background-color: rgb(40, 96, 113);
    color: aliceblue;
    height: 60px;
}

#head
{
    display: flex;
    padding: 0px;
    margin: 0px;
}

#page-title
{
    height: 50px;
    padding-top: 5px;
    justify-content: left;
    flex: 0.73;
    margin: 0px 100px 0px 80px;
}

.nav-text
{
    font-size: 13px;
    padding-top: 5px;
    padding-right: 11px;
}

#navegation
{


    margin: 0px 0px 0px 300px;
    padding-top: 1px;
    height: 50px;
    font-weight: lighter;

}

.div2
{
    display: flex;
    flex-direction: column;
    background-color: rgb(190, 125, 14);
    padding: 20px;
    color: aliceblue;
}

#info1
{
    height: 175px;
}

#info-title
{
    justify-content: center;
    margin: 10px;
    padding: 0px 5px;
    text-align: center;
    font-size: larger;
}

#info-title-h
{
    padding: 0px 5px;
    font-size: 33px;
}

#info-body
{
    margin: 0px;
    padding: 0px 170px;
    justify-content: center;

}

#info-text
{
    text-align: justify;
}

.div3
{
    display: flex;
    flex-direction: row;
    background-color: rgb(40, 96, 113);
    color: aliceblue;
}

#form-info
{
    margin-left: 200px;
    height: 35px;
    text-align: right;
}

/* #p-sub-text
{
    padding-right: 50px;
    margin-right: 50px
} */

#b-sub-text
{
    font-size: 14.5px;
}

#sub
{
    background-color: rgb(217, 153, 3);
}

#sub-button
{
    background-color: rgb(217, 153, 3);
    color: aliceblue;
    font-size: 5px;
}

.div4
{
    display: flex;
    flex-direction: row;
}

#images
{
    padding: 5px;
}

#html-div
{
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    padding: 10px;
}

#html-img
{
    padding-left: 40px;
    flex: 0.8;
}

#css-div
{
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    padding: 10px;
    /* flex: 0; */
}

#css-img
{
    padding-left: 40px;
    flex: 0.8;
}

#js-div
{
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    /* flex: 0; */
}

#js-img
{
    padding-left: 40px;
    flex: 0.8;
}

.div5
{
    background-color: rgb(40, 96, 113);
    color: aliceblue;
    text-align: center;
    margin: 0px;
    padding: 10px;
    /* height: 50px; */

}

#ftext-div
{

}

#foot-text
{

}